<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">



    <resource-ref>
        <description>DB Connection for Popix</description>
        <res-ref-name>jdbc/Popix</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>


    <welcome-file-list>
        <welcome-file>jsp/HomePage.jsp</welcome-file>
    </welcome-file-list>
    <welcome-file-list>
        <welcome-file>jsp/HomePage.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/jsp/error-pages/401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/error-pages/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error-pages/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error-pages/500.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>GetProductsServlet</servlet-name>
        <servlet-class>com.popx.presentazione.GetProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductsServlet</servlet-name>
        <url-pattern>/getProductsServlet</url-pattern>
    </servlet-mapping>
</web-app>