name: CI - Build and Test

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/*.md'
      - 'deliverables/**'
      - '.gitignore'
      - '.dockerignore'

  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**/*.md'
      - 'deliverables/**'
      - '.gitignore'
      - '.dockerignore'


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 21 (with Maven cache)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Build and test with Maven
        run: mvn -B clean test package
